In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('AmazonBooks.xlsx')
df.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         600 non-null    object
 1   Author       600 non-null    object
 2   User Rating  600 non-null    float64
 3   Reviews      600 non-null    int64
 4   Price        600 non-null    int64
 5   Year         600 non-null    int64
 6   Genre        600 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 32.9+ KB

In [5]:
np.shape(df)

(600, 7)

In [11]:
df.isna().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64