In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import ticker
from sqlalchemy import create_engine
from sqlalchemy import URL
from sqlalchemy import text
from urllib.parse import quote_plus

In [5]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="",
    host="localhost"
    )
engin = create_engine(url_object)
query = ("SELECT * FROM EPA_Fuel_Economy;")

In [6]:
with engin.connect() as conn:
    conn.execute(text("USE dataVisualization"))
    data = pd.read_sql(text(query), conn)

In [7]:
data.head(10)

,make,model,year,cylinders,trany,displ,VClass,co2,barrels08,fuelCost08,fuelType,highway08,city08,comb08
0,Acura,NSX,2000,6.0,Automatic 4-spd,3.0,Two Seaters,-1,18.311667,2600,Premium,22,15,18
1,Acura,NSX,2000,6.0,Manual 6-spd,3.2,Two Seaters,-1,18.311667,2600,Premium,22,15,18
2,BMW,M Coupe,2000,6.0,Manual 5-spd,3.2,Two Seaters,-1,17.347895,2500,Premium,23,17,19
3,BMW,Z3 Coupe,2000,6.0,Automatic 4-spd,2.8,Two Seaters,-1,17.347895,2500,Premium,24,17,19
4,BMW,Z3 Coupe,2000,6.0,Manual 5-spd,2.8,Two Seaters,-1,17.347895,2500,Premium,24,17,19
5,BMW,Z3 Roadster,2000,6.0,Automatic 4-spd,2.5,Two Seaters,-1,17.347895,2500,Premium,24,17,19
6,BMW,Z3 Roadster,2000,6.0,Manual 5-spd,2.5,Two Seaters,-1,16.480500,2350,Premium,25,17,20
7,BMW,Z3 Roadster,2000,6.0,Automatic 4-spd,2.8,Two Seaters,-1,17.347895,2500,Premium,24,17,19
8,BMW,Z3 Roadster,2000,6.0,Manual 5-spd,2.8,Two Seaters,-1,17.347895,2500,Premium,24,17,19
9,BMW,Z8,2000,8.0,Manual 6-spd,4.9,Two Seaters,-1,21.974000,3150,Premium,19,12,15

In [8]:
avg_by_year = data.groupby(['year'], as_index=False).agg({'comb08': 'mean'}).round(2)
avg_by_year

    year  comb08
0   2000   19.53
1   2001   19.48
2   2002   19.17
3   2003   19.00
4   2004   19.07
5   2005   19.19
6   2006   18.96
7   2007   18.98
8   2008   19.28
9   2009   19.74
10  2010   20.59
11  2011   21.01
12  2012   21.82
13  2013   23.12
14  2014   23.52
15  2015   24.02
16  2016   25.12
17  2017   25.25
18  2018   25.00
19  2019   25.65
20  2020   25.94